<% provide(:title, "ホーム") %>

<h1>上手な人からアドバイスをもらおう</h1>
<p>Snowboard Mentaはスノーボードのアドバイスを共有するアプリです。スノーボードについてのアドバイスをもらったり、アドバイスをしたりすることができます。また、滑り方や自分の滑りを記事にして投稿することもできます。</p>

<h1>Snowboard Mentaの仕組み</h1>

<h1>Snowboard Mentaでできること</h1>
<ul>
    <li>アドバイスを求める投稿作成</li>
    <li>アドバイスをする機能(コメント機能)</li>
    <li>記事投稿機能</li>
    <li>いいね機能</li>
    <li>ブックマーク機能</li>
    <li>フォロー機能</li>
</ul>

<h1>カテゴリ一覧</h1>
<ul>
    <li>スノーボード基礎</li>
    <li>フリーライディング</li>
    <li>カービング</li>
    <li>パーク</li>
    <li>バックカントリー</li>
</ul>

<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
