<li class="py-3 border-bottom border-dark">
    <%= gravatar_for user, add_class: 'icon-medium' %>
    <%= link_to user.name, user_path(user) %>
    <% if logged_in? && current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
</li>
