<% provide(:title, "アカウント設定") %>

<% provide(:submit_button, "更新") %>
<%= render 'users/account_form'%>

<div class="gravatar_edit">
    <img src="<%= gravatar_for @user %>" alt="<%= @user.name %>" class="rounded-circle w-50px">
    <a href="https://gravatar.com/emails" target="_blank" rel="noopener">change</a>
</div>
