<% @post ||= post %>
<div id="like_post_form-<%= @post.id %>">
    <% if current_user.liked_post.find_by(id: @post.id) %>
    <%= render 'posts/unlike_post', { post: @post } %>
    <% else %>
    <%= render 'posts/like_post', { post: @post } %>
    <% end %>
</div>
