<nav>
    <ul>
        <li>
            <i class="material-icons">home</i>
            <span class="menu-text">ホーム</span>
        </li>
        <li>
            <i class="material-icons">notifications_none</i>
            <span class="menu-text">通知</span>
        </li>
        <li class="post">
            <i class="material-icons">edit</i>
            <span class="menu-text">投稿</span>
        </li>
        <li>
            <i class="material-icons">bookmark_border</i>
            <span class="menu-text">ブックマーク</span>
        </li>
        <li>
            <i class="material-icons">message</i>
            <span class="menu-text">メッセージ</span>
        </li>
    </ul>
</nav>
