<nav>
  <div class="header-logo">
    <h1>スノメン</h1>
  </div>
  <div class="search-box">検索</div>
  <div class="avator-container">
    <img src="https://cdn.learnenough.com/kitten.jpg" alt="アカウント" class="avator-icon">
  </div>
</nav>
