<header class="fixed-top header-nav bg-primary">
    <nav class="h-100 d-flex align-items-center">
        <div class="my-2 mr-auto">
            <span>スノメン</span>
        </div>
        <div class="my-2 mr-4 d-none d-sm-block">
            <form class="form-inline">
                <input class="form-control mr-2" type="search" placeholder="検索" aria-label="Search">
                <button class="btn btn-outline-light my-0" type="submit">検索</button>
            </form>
        </div>
        <div class="mr-2">
            <img src="https://cdn.learnenough.com/kitten.jpg" alt="アカウント" class="rounded-circle avator-icon">
        </div>
    </nav>
</header>
