@import "./variables.scss";

body {
    // フォントサイズ

    .font-small {
        font-size: 0.6rem;
    }

    .font-ms {
        font-size: 0.8rem;
    }

    .font-medium {
        font-size: 1rem;
    }

    .font-ml {
        font-size: 1.5rem;
    }

    .font-large {
        font-size: 2.5rem;
    }

    .font-post-user {
        font-size: 0.8rem;
    }

    .font_lh-small {
        font-size: 0.6rem;
        line-height: 0.6rem;
    }

    .line-h-1 {
        line-height: 1;
    }

    // テキストの配置

    .v-align-middle {
        vertical-align: middle;
    }

    .d-1line {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 1.5em; // 2em（行）x line-heightの1.5
    }

    .d-3line {
        overflow: hidden;
        height: 4.5em; // 3em（行）x line-heightの1.5
    }

    // リンクの設定

    .link {
        color: $text-color;

        &:hover {
            color: $link-hover-color;
            text-decoration: none;
        }
    }

    // アクションアイコン
    .icon-action {
        color: lightgray;
        text-decoration: none;
    }

    .icon-action:hover {
        color: gray;
        text-decoration: none;
    }

    // smallの設定

    @media (min-width: 576px) {
        .font-sm-medium {
            font-size: 1rem;
        }
    }
}
