<% provide(:title, "このアプリについて") %>

<h1>このアプリについて</h1>
<p>このアプリはスノーボードのアドバイスを共有するアプリです。スノーボードについてのアドバイスを求めたり、アドバイスをしたりすることができます。また、滑り方や自分の滑りを記事にして投稿することもできます。</p>

<h1>機能</h1>
<ul>
<li>アドバイスを求める投稿作成</li>
<li>アドバイスをする機能(コメント機能)</li>
<li>記事投稿機能</li>
<li>いいね機能</li>
<li>ブックマーク機能</li>
<li>フォロー機能</li>
</ul>

